{% extends 'base.html.twig'%}

{% block body %}
    <section class="shell-wrapper">
        <pre>
            <code class="typing">
                git commit -m "{{ message }}"
            </code>
        </pre>
    </section>
{% endblock %}
